.box-1 {
  width: 600px;
  height: 200px;
  background-color: red;
  margin-bottom: 30px;
}

.inner-box-1 {
  width: 100px;
  height: 100px;
  background-color: gray;
}

.box-2 {
  width: 300px;
  height: 400px;
  background-color: blue;

  .inner-box-2 {
    width: 100px;
    height: 250px;
    background-color: gray;
  }
}
