* {
  box-sizing: border-box;
  list-style-type: none;
  text-decoration: none;
}

body {
  background-color: #ffe2b0;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

nav {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

ul {
  display: flex;
  gap: 100px;
}

a {
  color: black;
  font-size: 18px;
}

a:hover {
  color: red;
}

.section-about {
  height: 640px;
  background: url(../img/01-Картинка-фона.jpg) center/cover no-repeat;
  position: relative;
  margin-bottom: 20px;
}

.section-about__block {
  width: 420px;
  height: 190px;
  background: linear-gradient(
    180deg,
    rgba(244, 213, 178, 0.8) 0%,
    rgba(234, 156, 65, 0.8) 100%
  );
  position: absolute;
  top: 54%;
  left: 50%;
  padding-top: 15px;
}

.section-about__border {
  width: 390px;
  height: 160px;
  border: solid 1px black;
  margin-inline: auto;
  padding-top: 17px;
  padding-left: 28px;
  text-align: left;
}

.section-about__title {
  font-size: 36px;
  margin-bottom: 9px;
}

.section-about__text {
  font-size: 12px;
}

.section-description {
  margin-bottom: 20px;
}
.section-description__icon-box {
  display: flex;
  justify-content: center;
  gap: 76px;
  margin-bottom: 20px;
}

.section-description__title {
  font-size: 96px;
  text-align: center;
}

.red {
  color: #f15b40;
}

.section-description__text {
  font-size: 18px;
  text-align: center;
  width: 1000px;
  margin-inline: auto;
}
.section-map__title {
  font-size: 36px;
  text-align: center;
  margin-bottom: 20px;
}

iframe {
  display: block;
  margin: 0 auto 20px;
}

/* .line {
  border: solid 1px #999;
  width: 1024px;
  margin: 0 auto 20px;
} */

/* .line {
  height: 1px;
  background-color: #999;
  width: 1024px;
  margin: 0 auto 20px;
} */

hr {
  border: none;
  width: 1024px;
  margin: 0 auto 20px;
  border-top: 1px solid #999;
}

footer {
  height: 80px;
}
